<%= link_to 'Create Product', new_admin_product_path %>

 <div class="container">
    <div class="row">
        <div class="col-md-12">
            <legend>Products</legend>
        </div>
    </div>
		<div class="row">
	    <div class="col-md-12">
    <table class="table table-responsive table-hover table-bordered">
    <thead>
        <th> Name</th>
        <th> Description</th>
        <th> Category</th>
        <th>Price </th>
    </thead>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.product_description %></td>
        <td><%= product.category.category_name %></td>
        <td><%= product.price %></td>
      </tr>
    <% end %>
  </table>
	    </div>
	</div>
</div> 
