<%= form_for @product, url: admin_products_path do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :product_description %>
    <%= form.text_area :product_description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_area :price %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.select "category_id", options_from_collection_for_select(@categories, "id", "category_name") %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
